*{
    box-sizing: border-box;
}
body{
    margin: 0;padding: 0;
}
.container{
    width: 100%;
}
 .header{
    width: 100%;display: flex;margin-top: 10px;padding:20px ;margin-bottom: 5px;
}
.logo :first-child{
  width: calc(100%/2);
}
.icon :last-child{
    width: 50%;display: flex;justify-content: end;align-items: end
}

.hero{
    background-color: pink;  width: 100%;display: flex;margin-top: 10px;padding:10px ;margin: 10px; border-radius: 10px;
}
.description{
    width: calc(100%/2);
}
.hero-img{
  width: 50%;  display: flex;justify-content: end;align-items: end
} 

  .col-group {
            display: flex;
            flex-flow: row wrap;
            width: 100%;
            border-radius: 10px;
        }
.watch{
    border: 1px solid gray;background-color: orange;margin: 5px;
}








.newsletter{
       background-color: pink;display: flex;justify-content: center;align-content: center;border-radius: 10px;height: 200px;
}
 